<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

 <!--  <xi:include href="master.html" /> -->

<head>
  <title>Welcome to TurboGears 2.3, standing on the shoulders of giants, since 2007</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
  <link rel="stylesheet" type="text/css" media="screen" href="${tg.url('/javascript/extjs/examples/classic/desktop/resources/Desktop-all.css')}" />
  
  <!-- 
   <script language="javascript" src="/javascript/extjs/ext-all.js"></script>
   <script language="javascript" src="/javascript/extjs/packages/ux/classic/ux-debug.js"></script>
   <script language="javascript" src="/javascript/extjs/packages/charts/classic/charts-debug.js"></script>
     -->
  
  <script type="text/javascript" src="/javascript/extjs/examples/classic/shared/include-ext.js"></script>
   
    <script type="text/javascript" src="/javascript/extjs/examples/classic/shared/options-toolbar.js"></script>
    
    <script language="javascript" src="/javascript/clinic/app.js"></script>
    <style type="text/css">
        .x-panel-body p {
            margin: 10px;
            font-size: 12px;
        }
    </style>
</head>

<body>
  <!-- EXAMPLES -->
<div id = 'samplepanel'></div>

</body>
</html>
